doctype
html(lang='ko')
  head
    meta(charset='utf-8')
    title myZoom
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1 myZoom 
    main
      h2 thanks for nomadcoder!!

    script(src='/public/js/app.js')